Tkinter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Tkinter">
    <xs:element name="Tk" type="Tk"/>
    <xs:complexType name="Variable">
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="value"/>
    </xs:complexType>
    <xs:complexType name="Tk">
        <xs:complexContent>
            <xs:extension base="BaseWidget">
                <xs:sequence maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="Variable" type="Variable"/>
                </xs:sequence>
                <xs:attribute name="title"/>
                <xs:attribute name="geometry"/>
                <xs:attribute name="resizable"/>
                <xs:attribute name="icon"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="class"/>
                <xs:attribute name="menu"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="screen"/>
                <xs:attribute name="use"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="colormap"/>
                <xs:attribute name="container"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="visual"/>
                <xs:attribute name="width"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RowColumnConfig">
        <xs:attribute name="index"/>
        <xs:attribute name="minsize"/>
        <xs:attribute name="pad"/>
        <xs:attribute name="uniform"/>
        <xs:attribute name="weight"/>
    </xs:complexType>
    <xs:complexType name="Grid">
        <xs:attribute name="column"/>
        <xs:attribute name="row"/>
        <xs:attribute name="columnspan"/>
        <xs:attribute name="rowspan"/>
        <xs:attribute name="ipadx"/>
        <xs:attribute name="ipady"/>
        <xs:attribute name="padx"/>
        <xs:attribute name="pady"/>
        <xs:attribute name="sticky"/>
    </xs:complexType>
    <xs:complexType name="Pack">
        <xs:attribute name="anchor"/>
        <xs:attribute name="expand"/>
        <xs:attribute name="fill"/>
        <xs:attribute name="ipadx"/>
        <xs:attribute name="ipady"/>
        <xs:attribute name="padx"/>
        <xs:attribute name="pady"/>
        <xs:attribute name="side"/>
    </xs:complexType>
    <xs:complexType name="Place">
        <xs:attribute name="x"/>
        <xs:attribute name="relx"/>
        <xs:attribute name="y"/>
        <xs:attribute name="rely"/>
        <xs:attribute name="width"/>
        <xs:attribute name="relwidth"/>
        <xs:attribute name="height"/>
        <xs:attribute name="relheight"/>
        <xs:attribute name="anchor"/>
        <xs:attribute name="bordermode"/>
    </xs:complexType>
    <xs:complexType name="BaseWidget">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="Button" type="Button"/>
            <xs:element name="Canvas" type="Canvas"/>
            <xs:element name="Checkbutton" type="Checkbutton"/>
            <xs:element name="Entry" type="Entry"/>
            <xs:element name="Frame" type="Frame"/>
            <xs:element name="Label" type="Label"/>
            <xs:element name="Listbox" type="Listbox"/>
            <xs:element name="Menu" type="Menu"/>
            <xs:element name="Menubutton" type="Menubutton"/>
            <xs:element name="Message" type="Message"/>
            <xs:element name="Radiobutton" type="Radiobutton"/>
            <xs:element name="Scale" type="Scale"/>
            <xs:element name="Scrollbar" type="Scrollbar"/>
            <xs:element name="Text" type="Text"/>
            <xs:element name="Spinbox" type="Spinbox"/>
            <xs:element name="LabelFrame" type="LabelFrame"/>
            <xs:element name="PanedWindow" type="PanedWindow"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Widget">
        <xs:complexContent>
            <xs:extension base="BaseWidget">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element name="pack" type="Pack"/>
                        <xs:element name="grid" type="Grid"/>
                        <xs:element name="place" type="Place"/>
                    </xs:choice>
                    <xs:choice minOccurs="0">
                        <xs:element name="columnconfig" type="RowColumnConfig"/>
                        <xs:element name="rowconfig" type="RowColumnConfig"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Button">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="compound"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="default"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="overrelief"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="repeatdelay"/>
                <xs:attribute name="repeatinterval"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Canvas">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="closeenough"/>
                <xs:attribute name="confine"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="insertbackground"/>
                <xs:attribute name="insertborderwidth"/>
                <xs:attribute name="insertofftime"/>
                <xs:attribute name="insertontime"/>
                <xs:attribute name="insertwidth"/>
                <xs:attribute name="offset"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="scrollregion"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="width"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="xscrollincrement"/>
                <xs:attribute name="yscrollcommand"/>
                <xs:attribute name="yscrollincrement"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Checkbutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="compound"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image"/>
                <xs:attribute name="indicatoron"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="offrelief"/>
                <xs:attribute name="offvalue"/>
                <xs:attribute name="onvalue"/>
                <xs:attribute name="overrelief"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="selectcolor"/>
                <xs:attribute name="selectimage"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="tristateimage"/>
                <xs:attribute name="tristatevalue"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="variable"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Entry">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledbackground"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="exportselection"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="insertbackground"/>
                <xs:attribute name="insertborderwidth"/>
                <xs:attribute name="insertofftime"/>
                <xs:attribute name="insertontime"/>
                <xs:attribute name="insertwidth"/>
                <xs:attribute name="invalidcommand"/>
                <xs:attribute name="invcmd"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="readonlybackground"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="show"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="validate"/>
                <xs:attribute name="validatecommand"/>
                <xs:attribute name="vcmd"/>
                <xs:attribute name="width"/>
                <xs:attribute name="xscrollcommand"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Frame">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="bd"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="class"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="colormap"/>
                <xs:attribute name="container"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="visual"/>
                <xs:attribute name="width"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Label">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="compound"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Listbox">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activestyle"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="exportselection"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="selectmode"/>
                <xs:attribute name="setgrid"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="width"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="yscrollcommand"/>
                <xs:attribute name="listvariable"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Menu">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeborderwidth"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="postcommand"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="selectcolor"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="tearoff"/>
                <xs:attribute name="tearoffcommand"/>
                <xs:attribute name="title"/>
                <xs:attribute name="type"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Menubutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="direction"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image"/>
                <xs:attribute name="indicatoron"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="menu"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="compound"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Message">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="anchor"/>
                <xs:attribute name="aspect"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="width"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Radiobutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="compound"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image"/>
                <xs:attribute name="indicatoron"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="offrelief"/>
                <xs:attribute name="overrelief"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="selectcolor"/>
                <xs:attribute name="selectimage"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="tristateimage"/>
                <xs:attribute name="tristatevalue"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="value"/>
                <xs:attribute name="variable"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Scale">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bigincrement"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="digits"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="from"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="label"/>
                <xs:attribute name="length"/>
                <xs:attribute name="orient"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="repeatdelay"/>
                <xs:attribute name="repeatinterval"/>
                <xs:attribute name="resolution"/>
                <xs:attribute name="showvalue"/>
                <xs:attribute name="sliderlength"/>
                <xs:attribute name="sliderrelief"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="tickinterval"/>
                <xs:attribute name="to"/>
                <xs:attribute name="troughcolor"/>
                <xs:attribute name="variable"/>
                <xs:attribute name="width"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Scrollbar">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activerelief"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="elementborderwidth"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="jump"/>
                <xs:attribute name="orient"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="repeatdelay"/>
                <xs:attribute name="repeatinterval"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="troughcolor"/>
                <xs:attribute name="width"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Text">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="autoseparators"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="blockcursor"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="endline"/>
                <xs:attribute name="exportselection"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="inactiveselectbackground"/>
                <xs:attribute name="insertbackground"/>
                <xs:attribute name="insertborderwidth"/>
                <xs:attribute name="insertofftime"/>
                <xs:attribute name="insertontime"/>
                <xs:attribute name="insertunfocussed"/>
                <xs:attribute name="insertwidth"/>
                <xs:attribute name="maxundo"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="setgrid"/>
                <xs:attribute name="spacing1"/>
                <xs:attribute name="spacing2"/>
                <xs:attribute name="spacing3"/>
                <xs:attribute name="startline"/>
                <xs:attribute name="state"/>
                <xs:attribute name="tabs"/>
                <xs:attribute name="tabstyle"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="undo"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wrap"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="yscrollcommand"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Spinbox">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="buttonbackground"/>
                <xs:attribute name="buttoncursor"/>
                <xs:attribute name="buttondownrelief"/>
                <xs:attribute name="buttonuprelief"/>
                <xs:attribute name="command"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledbackground"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="exportselection"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="format"/>
                <xs:attribute name="from"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="increment"/>
                <xs:attribute name="insertbackground"/>
                <xs:attribute name="insertborderwidth"/>
                <xs:attribute name="insertofftime"/>
                <xs:attribute name="insertontime"/>
                <xs:attribute name="insertwidth"/>
                <xs:attribute name="invalidcommand"/>
                <xs:attribute name="invcmd"/>
                <xs:attribute name="justify"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="readonlybackground"/>
                <xs:attribute name="repeatdelay"/>
                <xs:attribute name="repeatinterval"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="state"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="to"/>
                <xs:attribute name="validate"/>
                <xs:attribute name="validatecommand"/>
                <xs:attribute name="values"/>
                <xs:attribute name="vcmd"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wrap"/>
                <xs:attribute name="xscrollcommand"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LabelFrame">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="bd"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="class"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="labelanchor"/>
                <xs:attribute name="labelwidget"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="text"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="colormap"/>
                <xs:attribute name="container"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="visual"/>
                <xs:attribute name="width"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PanedWindow">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="handlepad"/>
                <xs:attribute name="handlesize"/>
                <xs:attribute name="height"/>
                <xs:attribute name="opaqueresize"/>
                <xs:attribute name="orient"/>
                <xs:attribute name="proxybackground"/>
                <xs:attribute name="proxyborderwidth"/>
                <xs:attribute name="proxyrelief"/>
                <xs:attribute name="relief"/>
                <xs:attribute name="sashcursor"/>
                <xs:attribute name="sashpad"/>
                <xs:attribute name="sashrelief"/>
                <xs:attribute name="sashwidth"/>
                <xs:attribute name="showhandle"/>
                <xs:attribute name="width"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
