Tkinter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Tkinter">
    <xs:element name="Tk" type="Tk"/>
    <xs:complexType name="Variable">
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="value"/>
    </xs:complexType>
    <xs:complexType name="Style">
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="padding"/>
        <xs:attribute name="activebackground"/>
        <xs:attribute name="activeforeground"/>
        <xs:attribute name="anchor" type="Anchor"/>
        <xs:attribute name="background"/>
        <xs:attribute name="bd"/>
        <xs:attribute name="bg"/>
        <xs:attribute name="bitmap"/>
        <xs:attribute name="borderwidth"/>
        <xs:attribute name="command"/>
        <xs:attribute name="compound" type="Compound"/>
        <xs:attribute name="cursor"/>
        <xs:attribute name="default" type="Default"/>
        <xs:attribute name="disabledforeground"/>
        <xs:attribute name="fg"/>
        <xs:attribute name="font"/>
        <xs:attribute name="foreground"/>
        <xs:attribute name="height"/>
        <xs:attribute name="highlightbackground"/>
        <xs:attribute name="highlightcolor"/>
        <xs:attribute name="highlightthickness"/>
        <xs:attribute name="image" type="xs:anyURI"/>
        <xs:attribute name="justify" type="Justify"/>
        <xs:attribute name="overrelief"/>
        <xs:attribute name="padx"/>
        <xs:attribute name="pady"/>
        <xs:attribute name="relief" type="Relief"/>
        <xs:attribute name="repeatdelay"/>
        <xs:attribute name="repeatinterval"/>
        <xs:attribute name="state" type="State"/>
        <xs:attribute name="takefocus"/>
        <xs:attribute name="text"/>
        <xs:attribute name="textvariable"/>
        <xs:attribute name="underline"/>
        <xs:attribute name="width"/>
        <xs:attribute name="wraplength"/>
        <xs:attribute name="closeenough"/>
        <xs:attribute name="confine"/>
        <xs:attribute name="insertbackground"/>
        <xs:attribute name="insertborderwidth"/>
        <xs:attribute name="insertofftime"/>
        <xs:attribute name="insertontime"/>
        <xs:attribute name="insertwidth"/>
        <xs:attribute name="offset"/>
        <xs:attribute name="scrollregion"/>
        <xs:attribute name="selectbackground"/>
        <xs:attribute name="selectborderwidth"/>
        <xs:attribute name="selectforeground"/>
        <xs:attribute name="xscrollcommand"/>
        <xs:attribute name="xscrollincrement"/>
        <xs:attribute name="yscrollcommand"/>
        <xs:attribute name="yscrollincrement"/>
        <xs:attribute name="indicatoron"/>
        <xs:attribute name="offrelief"/>
        <xs:attribute name="offvalue"/>
        <xs:attribute name="onvalue"/>
        <xs:attribute name="selectcolor"/>
        <xs:attribute name="selectimage"/>
        <xs:attribute name="tristateimage"/>
        <xs:attribute name="tristatevalue"/>
        <xs:attribute name="variable"/>
        <xs:attribute name="disabledbackground"/>
        <xs:attribute name="exportselection"/>
        <xs:attribute name="invalidcommand"/>
        <xs:attribute name="invcmd"/>
        <xs:attribute name="readonlybackground"/>
        <xs:attribute name="show"/>
        <xs:attribute name="validate"/>
        <xs:attribute name="validatecommand"/>
        <xs:attribute name="vcmd"/>
        <xs:attribute name="class"/>
        <xs:attribute name="colormap"/>
        <xs:attribute name="container"/>
        <xs:attribute name="visual"/>
        <xs:attribute name="activestyle"/>
        <xs:attribute name="selectmode"/>
        <xs:attribute name="setgrid"/>
        <xs:attribute name="listvariable"/>
        <xs:attribute name="activeborderwidth"/>
        <xs:attribute name="postcommand"/>
        <xs:attribute name="tearoff"/>
        <xs:attribute name="tearoffcommand"/>
        <xs:attribute name="title"/>
        <xs:attribute name="type"/>
        <xs:attribute name="direction"/>
        <xs:attribute name="menu"/>
        <xs:attribute name="aspect"/>
        <xs:attribute name="value"/>
        <xs:attribute name="bigincrement"/>
        <xs:attribute name="digits"/>
        <xs:attribute name="from"/>
        <xs:attribute name="label"/>
        <xs:attribute name="length"/>
        <xs:attribute name="orient" type="Orient"/>
        <xs:attribute name="resolution"/>
        <xs:attribute name="showvalue"/>
        <xs:attribute name="sliderlength"/>
        <xs:attribute name="sliderrelief"/>
        <xs:attribute name="tickinterval"/>
        <xs:attribute name="to"/>
        <xs:attribute name="troughcolor"/>
        <xs:attribute name="activerelief"/>
        <xs:attribute name="elementborderwidth"/>
        <xs:attribute name="jump"/>
        <xs:attribute name="autoseparators"/>
        <xs:attribute name="blockcursor"/>
        <xs:attribute name="endline"/>
        <xs:attribute name="inactiveselectbackground"/>
        <xs:attribute name="insertunfocussed"/>
        <xs:attribute name="maxundo"/>
        <xs:attribute name="spacing1"/>
        <xs:attribute name="spacing2"/>
        <xs:attribute name="spacing3"/>
        <xs:attribute name="startline"/>
        <xs:attribute name="tabs"/>
        <xs:attribute name="tabstyle"/>
        <xs:attribute name="undo"/>
        <xs:attribute name="wrap"/>
        <xs:attribute name="buttonbackground"/>
        <xs:attribute name="buttoncursor"/>
        <xs:attribute name="buttondownrelief"/>
        <xs:attribute name="buttonuprelief"/>
        <xs:attribute name="format"/>
        <xs:attribute name="increment"/>
        <xs:attribute name="values"/>
        <xs:attribute name="labelanchor"/>
        <xs:attribute name="labelwidget"/>
        <xs:attribute name="handlepad"/>
        <xs:attribute name="handlesize"/>
        <xs:attribute name="opaqueresize"/>
        <xs:attribute name="proxybackground"/>
        <xs:attribute name="proxyborderwidth"/>
        <xs:attribute name="proxyrelief"/>
        <xs:attribute name="sashcursor"/>
        <xs:attribute name="sashpad"/>
        <xs:attribute name="sashrelief"/>
        <xs:attribute name="sashwidth"/>
        <xs:attribute name="showhandle"/>
    </xs:complexType>
    <xs:complexType name="Font">
        <xs:attribute name="path" use="required"/>
    </xs:complexType>
    <xs:simpleType name="State" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="normal"/>
            <xs:enumeration value="active"/>
            <xs:enumeration value="disabled"/>
            <xs:enumeration value="readonly"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Default" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="normal"/>
            <xs:enumeration value="active"/>
            <xs:enumeration value="disabled"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Justify" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="center"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Relief" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="raised"/>
            <xs:enumeration value="sunken"/>
            <xs:enumeration value="groove"/>
            <xs:enumeration value="ridge"/>
            <xs:enumeration value="flat"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Anchor" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="n"/>
            <xs:enumeration value="ne"/>
            <xs:enumeration value="e"/>
            <xs:enumeration value="se"/>
            <xs:enumeration value="s"/>
            <xs:enumeration value="sw"/>
            <xs:enumeration value="w"/>
            <xs:enumeration value="nw"/>
            <xs:enumeration value="center"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Fill" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="x"/>
            <xs:enumeration value="y"/>
            <xs:enumeration value="both"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Side" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="right"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Compound" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OverRelief" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="raised"/>
            <xs:enumeration value="sunken"/>
            <xs:enumeration value="groove"/>
            <xs:enumeration value="ridge"/>
            <xs:enumeration value="flat"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Resizable" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true true"/>
            <xs:enumeration value="true false"/>
            <xs:enumeration value="false true"/>
            <xs:enumeration value="false false"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Orient" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Tk">
        <xs:complexContent>
            <xs:extension base="BaseWidget">
                <xs:sequence maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="Variable" type="Variable"/>
                    <xs:element name="Style" type="Style"/>
                    <xs:element name="Font" type="Font"/>
                </xs:sequence>
                <xs:attribute name="title"/>
                <xs:attribute name="geometry"/>
                <xs:attribute name="resizable" type="Resizable"/>
                <xs:attribute name="icon" type="xs:anyURI"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="class"/>
                <xs:attribute name="menu"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="screen"/>
                <xs:attribute name="use"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="colormap"/>
                <xs:attribute name="container"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="visual"/>
                <xs:attribute name="width"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RowColumnConfig">
        <xs:attribute name="index"/>
        <xs:attribute name="minsize"/>
        <xs:attribute name="pad"/>
        <xs:attribute name="uniform"/>
        <xs:attribute name="weight"/>
    </xs:complexType>
    <xs:complexType name="Grid">
        <xs:attribute name="column"/>
        <xs:attribute name="row"/>
        <xs:attribute name="columnspan"/>
        <xs:attribute name="rowspan"/>
        <xs:attribute name="ipadx"/>
        <xs:attribute name="ipady"/>
        <xs:attribute name="padx"/>
        <xs:attribute name="pady"/>
        <xs:attribute name="sticky"/>
    </xs:complexType>
    <xs:complexType name="Pack">
        <xs:attribute name="anchor" type="Anchor"/>
        <xs:attribute name="expand"/>
        <xs:attribute name="fill" type="Fill"/>
        <xs:attribute name="ipadx"/>
        <xs:attribute name="ipady"/>
        <xs:attribute name="padx"/>
        <xs:attribute name="pady"/>
        <xs:attribute name="side" type="Side"/>
    </xs:complexType>
    <xs:complexType name="Place">
        <xs:attribute name="x"/>
        <xs:attribute name="relx"/>
        <xs:attribute name="y"/>
        <xs:attribute name="rely"/>
        <xs:attribute name="width"/>
        <xs:attribute name="relwidth"/>
        <xs:attribute name="height"/>
        <xs:attribute name="relheight"/>
        <xs:attribute name="anchor" type="Anchor"/>
        <xs:attribute name="bordermode"/>
    </xs:complexType>
    <xs:complexType name="BaseWidget">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="Button" type="Button"/>
            <xs:element name="Canvas" type="Canvas"/>
            <xs:element name="Checkbutton" type="Checkbutton"/>
            <xs:element name="Entry" type="Entry"/>
            <xs:element name="Frame" type="Frame"/>
            <xs:element name="Label" type="Label"/>
            <xs:element name="Listbox" type="Listbox"/>
            <xs:element name="Menu" type="Menu"/>
            <xs:element name="Menubutton" type="Menubutton"/>
            <xs:element name="Message" type="Message"/>
            <xs:element name="Radiobutton" type="Radiobutton"/>
            <xs:element name="Scale" type="Scale"/>
            <xs:element name="Scrollbar" type="Scrollbar"/>
            <xs:element name="Text" type="Text"/>
            <xs:element name="Spinbox" type="Spinbox"/>
            <xs:element name="LabelFrame" type="LabelFrame"/>
            <xs:element name="PanedWindow" type="PanedWindow"/>
            <xs:element name="T-Button" type="T-Button"/>
            <xs:element name="T-Checkbutton" type="T-Checkbutton"/>
            <xs:element name="T-Entry" type="T-Entry"/>
            <xs:element name="T-Frame" type="T-Frame"/>
            <xs:element name="T-Label" type="T-Label"/>
            <xs:element name="T-Labelframe" type="T-Labelframe"/>
            <xs:element name="T-Menubutton" type="T-Menubutton"/>
            <xs:element name="T-Notebook" type="T-Notebook"/>
            <xs:element name="T-Panedwindow" type="T-Panedwindow"/>
            <xs:element name="T-Progressbar" type="T-Progressbar"/>
            <xs:element name="T-Radiobutton" type="T-Radiobutton"/>
            <xs:element name="T-Scale" type="T-Scale"/>
            <xs:element name="T-Scrollbar" type="T-Scrollbar"/>
            <xs:element name="T-Separator" type="T-Separator"/>
            <xs:element name="T-Sizegrip" type="T-Sizegrip"/>
            <xs:element name="T-Treeview" type="T-Treeview"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Packable">
        <xs:sequence>
            <xs:choice minOccurs="0">
                <xs:element name="pack" type="Pack"/>
                <xs:element name="grid" type="Grid"/>
                <xs:element name="place" type="Place"/>
            </xs:choice>
            <xs:choice minOccurs="0">
                <xs:element name="columnconfig" type="RowColumnConfig"/>
                <xs:element name="rowconfig" type="RowColumnConfig"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Widget">
        <xs:complexContent>
            <xs:extension base="BaseWidget">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element name="pack" type="Pack"/>
                        <xs:element name="grid" type="Grid"/>
                        <xs:element name="place" type="Place"/>
                    </xs:choice>
                    <xs:choice minOccurs="0">
                        <xs:element name="columnconfig" type="RowColumnConfig"/>
                        <xs:element name="rowconfig" type="RowColumnConfig"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InnerMenu">
        <xs:choice>
            <xs:element name="Cascade" type="Cascade"/>
            <xs:element name="Command" type="MenuCommand"/>
            <xs:element name="Separator" type="MenuSeparator"/>
            <xs:element name="Checkbutton" type="MenuCheckbutton"/>
            <xs:element name="Radiobutton" type="MenuRadiobutton"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Cascade">
        <xs:complexContent>
            <xs:extension base="InnerMenu">
                <xs:attribute name="accelerator"/>
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="columnbreak"/>
                <xs:attribute name="command"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="hidemargin"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="label"/>
                <xs:attribute name="menu"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="underline"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MenuCommand">
        <xs:attribute name="accelerator"/>
        <xs:attribute name="activebackground"/>
        <xs:attribute name="activeforeground"/>
        <xs:attribute name="background"/>
        <xs:attribute name="bitmap"/>
        <xs:attribute name="columnbreak"/>
        <xs:attribute name="command"/>
        <xs:attribute name="compound" type="Compound"/>
        <xs:attribute name="font"/>
        <xs:attribute name="foreground"/>
        <xs:attribute name="hidemargin"/>
        <xs:attribute name="image" type="xs:anyURI"/>
        <xs:attribute name="label"/>
        <xs:attribute name="state" type="State"/>
        <xs:attribute name="underline"/>
    </xs:complexType>
    <xs:complexType name="MenuSeparator">
        <xs:attribute name="background"/>
    </xs:complexType>
    <xs:complexType name="MenuCheckbutton">
        <xs:attribute name="accelerator"/>
        <xs:attribute name="activebackground"/>
        <xs:attribute name="activeforeground"/>
        <xs:attribute name="background"/>
        <xs:attribute name="bitmap"/>
        <xs:attribute name="columnbreak"/>
        <xs:attribute name="command"/>
        <xs:attribute name="compound" type="Compound"/>
        <xs:attribute name="font"/>
        <xs:attribute name="foreground"/>
        <xs:attribute name="hidemargin"/>
        <xs:attribute name="image" type="xs:anyURI"/>
        <xs:attribute name="indicatoron"/>
        <xs:attribute name="label"/>
        <xs:attribute name="offvalue"/>
        <xs:attribute name="onvalue"/>
        <xs:attribute name="selectcolor"/>
        <xs:attribute name="selectimage"/>
        <xs:attribute name="state" type="State"/>
        <xs:attribute name="underline"/>
        <xs:attribute name="variable"/>
    </xs:complexType>
    <xs:complexType name="MenuRadiobutton">
        <xs:attribute name="accelerator"/>
        <xs:attribute name="activebackground"/>
        <xs:attribute name="activeforeground"/>
        <xs:attribute name="background"/>
        <xs:attribute name="bitmap"/>
        <xs:attribute name="columnbreak"/>
        <xs:attribute name="command"/>
        <xs:attribute name="compound" type="Compound"/>
        <xs:attribute name="font"/>
        <xs:attribute name="foreground"/>
        <xs:attribute name="hidemargin"/>
        <xs:attribute name="image" type="xs:anyURI"/>
        <xs:attribute name="indicatoron"/>
        <xs:attribute name="label"/>
        <xs:attribute name="selectcolor"/>
        <xs:attribute name="selectimage"/>
        <xs:attribute name="state" type="State"/>
        <xs:attribute name="underline"/>
        <xs:attribute name="value"/>
        <xs:attribute name="variable"/>
    </xs:complexType>
    <xs:complexType name="Button">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor" type="Anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="default" type="Default"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="overrelief"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="repeatdelay"/>
                <xs:attribute name="repeatinterval"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Canvas">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="closeenough"/>
                <xs:attribute name="confine"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="insertbackground"/>
                <xs:attribute name="insertborderwidth"/>
                <xs:attribute name="insertofftime"/>
                <xs:attribute name="insertontime"/>
                <xs:attribute name="insertwidth"/>
                <xs:attribute name="offset"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="scrollregion"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="width"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="xscrollincrement"/>
                <xs:attribute name="yscrollcommand"/>
                <xs:attribute name="yscrollincrement"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Checkbutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor" type="Anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="indicatoron"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="offrelief"/>
                <xs:attribute name="offvalue"/>
                <xs:attribute name="onvalue"/>
                <xs:attribute name="overrelief"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="selectcolor"/>
                <xs:attribute name="selectimage"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="tristateimage"/>
                <xs:attribute name="tristatevalue"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="variable"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Entry">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledbackground"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="exportselection"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="insertbackground"/>
                <xs:attribute name="insertborderwidth"/>
                <xs:attribute name="insertofftime"/>
                <xs:attribute name="insertontime"/>
                <xs:attribute name="insertwidth"/>
                <xs:attribute name="invalidcommand"/>
                <xs:attribute name="invcmd"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="readonlybackground"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="show"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="validate"/>
                <xs:attribute name="validatecommand"/>
                <xs:attribute name="vcmd"/>
                <xs:attribute name="width"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Frame">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="bd"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="class"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="colormap"/>
                <xs:attribute name="container"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="visual"/>
                <xs:attribute name="width"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Label">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor" type="Anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Listbox">
        <xs:complexContent>
            <xs:extension base="Packable">
                <xs:choice>
                    <xs:element name="Line"/>
                </xs:choice>
                <xs:attribute name="activestyle"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="exportselection"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="selectmode"/>
                <xs:attribute name="setgrid"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="width"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="yscrollcommand"/>
                <xs:attribute name="listvariable"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Menu">
        <xs:complexContent>
            <xs:extension base="InnerMenu">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeborderwidth"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="postcommand"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="selectcolor"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="tearoff"/>
                <xs:attribute name="tearoffcommand"/>
                <xs:attribute name="title"/>
                <xs:attribute name="type"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Menubutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor" type="Anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="direction"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="indicatoron"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="menu"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Message">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="anchor" type="Anchor"/>
                <xs:attribute name="aspect"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="width"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Radiobutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activeforeground"/>
                <xs:attribute name="anchor" type="Anchor"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="bitmap"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="indicatoron"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="offrelief"/>
                <xs:attribute name="overrelief"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="selectcolor"/>
                <xs:attribute name="selectimage"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="tristateimage"/>
                <xs:attribute name="tristatevalue"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="value"/>
                <xs:attribute name="variable"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wraplength"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Scale">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bigincrement"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="digits"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="from"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="label"/>
                <xs:attribute name="length"/>
                <xs:attribute name="orient" type="Orient"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="repeatdelay"/>
                <xs:attribute name="repeatinterval"/>
                <xs:attribute name="resolution"/>
                <xs:attribute name="showvalue"/>
                <xs:attribute name="sliderlength"/>
                <xs:attribute name="sliderrelief"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="tickinterval"/>
                <xs:attribute name="to"/>
                <xs:attribute name="troughcolor"/>
                <xs:attribute name="variable"/>
                <xs:attribute name="width"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Scrollbar">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="activerelief"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="command"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="elementborderwidth"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="jump"/>
                <xs:attribute name="orient" type="Orient"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="repeatdelay"/>
                <xs:attribute name="repeatinterval"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="troughcolor"/>
                <xs:attribute name="width"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Text">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="autoseparators"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="blockcursor"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="endline"/>
                <xs:attribute name="exportselection"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="inactiveselectbackground"/>
                <xs:attribute name="insertbackground"/>
                <xs:attribute name="insertborderwidth"/>
                <xs:attribute name="insertofftime"/>
                <xs:attribute name="insertontime"/>
                <xs:attribute name="insertunfocussed"/>
                <xs:attribute name="insertwidth"/>
                <xs:attribute name="maxundo"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="setgrid"/>
                <xs:attribute name="spacing1"/>
                <xs:attribute name="spacing2"/>
                <xs:attribute name="spacing3"/>
                <xs:attribute name="startline"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="tabs"/>
                <xs:attribute name="tabstyle"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="undo"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wrap"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="yscrollcommand"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Spinbox">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="activebackground"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="buttonbackground"/>
                <xs:attribute name="buttoncursor"/>
                <xs:attribute name="buttondownrelief"/>
                <xs:attribute name="buttonuprelief"/>
                <xs:attribute name="command"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="disabledbackground"/>
                <xs:attribute name="disabledforeground"/>
                <xs:attribute name="exportselection"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="format"/>
                <xs:attribute name="from"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="increment"/>
                <xs:attribute name="insertbackground"/>
                <xs:attribute name="insertborderwidth"/>
                <xs:attribute name="insertofftime"/>
                <xs:attribute name="insertontime"/>
                <xs:attribute name="insertwidth"/>
                <xs:attribute name="invalidcommand"/>
                <xs:attribute name="invcmd"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="readonlybackground"/>
                <xs:attribute name="repeatdelay"/>
                <xs:attribute name="repeatinterval"/>
                <xs:attribute name="selectbackground"/>
                <xs:attribute name="selectborderwidth"/>
                <xs:attribute name="selectforeground"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="to"/>
                <xs:attribute name="validate"/>
                <xs:attribute name="validatecommand"/>
                <xs:attribute name="values"/>
                <xs:attribute name="vcmd"/>
                <xs:attribute name="width"/>
                <xs:attribute name="wrap"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LabelFrame">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="bd"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="class"/>
                <xs:attribute name="fg"/>
                <xs:attribute name="font"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="labelanchor"/>
                <xs:attribute name="labelwidget"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="text"/>
                <xs:attribute name="background"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="colormap"/>
                <xs:attribute name="container"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="height"/>
                <xs:attribute name="highlightbackground"/>
                <xs:attribute name="highlightcolor"/>
                <xs:attribute name="highlightthickness"/>
                <xs:attribute name="padx"/>
                <xs:attribute name="pady"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="visual"/>
                <xs:attribute name="width"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PanedWindow">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="background"/>
                <xs:attribute name="bd"/>
                <xs:attribute name="bg"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="handlepad"/>
                <xs:attribute name="handlesize"/>
                <xs:attribute name="height"/>
                <xs:attribute name="opaqueresize"/>
                <xs:attribute name="orient" type="Orient"/>
                <xs:attribute name="proxybackground"/>
                <xs:attribute name="proxyborderwidth"/>
                <xs:attribute name="proxyrelief"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="sashcursor"/>
                <xs:attribute name="sashpad"/>
                <xs:attribute name="sashrelief"/>
                <xs:attribute name="sashwidth"/>
                <xs:attribute name="showhandle"/>
                <xs:attribute name="width"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Button">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="command"/>
                <xs:attribute name="default" type="Default"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Checkbutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="variable"/>
                <xs:attribute name="onvalue"/>
                <xs:attribute name="offvalue"/>
                <xs:attribute name="command"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Entry">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="exportselection"/>
                <xs:attribute name="font"/>
                <xs:attribute name="invalidcommand"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="show"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="validate"/>
                <xs:attribute name="validatecommand"/>
                <xs:attribute name="width"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="background"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Frame">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="width"/>
                <xs:attribute name="height"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Label">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="background"/>
                <xs:attribute name="foreground"/>
                <xs:attribute name="font"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="anchor" type="Anchor"/>
                <xs:attribute name="justify" type="Justify"/>
                <xs:attribute name="wraplength"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Labelframe">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="labelanchor"/>
                <xs:attribute name="text"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="labelwidget"/>
                <xs:attribute name="borderwidth"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="relief" type="Relief"/>
                <xs:attribute name="width"/>
                <xs:attribute name="height"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Menubutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="menu"/>
                <xs:attribute name="direction"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Notebook">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="width"/>
                <xs:attribute name="height"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Panedwindow">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="orient" type="Orient"/>
                <xs:attribute name="width"/>
                <xs:attribute name="height"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Progressbar">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="orient" type="Orient"/>
                <xs:attribute name="length"/>
                <xs:attribute name="mode"/>
                <xs:attribute name="maximum"/>
                <xs:attribute name="variable"/>
                <xs:attribute name="value"/>
                <xs:attribute name="phase"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Radiobutton">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="variable"/>
                <xs:attribute name="value"/>
                <xs:attribute name="command"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="text"/>
                <xs:attribute name="textvariable"/>
                <xs:attribute name="underline"/>
                <xs:attribute name="width"/>
                <xs:attribute name="image" type="xs:anyURI"/>
                <xs:attribute name="compound" type="Compound"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Scale">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="command"/>
                <xs:attribute name="variable"/>
                <xs:attribute name="orient" type="Orient"/>
                <xs:attribute name="from"/>
                <xs:attribute name="to"/>
                <xs:attribute name="value"/>
                <xs:attribute name="length"/>
                <xs:attribute name="state" type="State"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Scrollbar">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="command"/>
                <xs:attribute name="orient" type="Orient"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Separator">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="orient" type="Orient"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Sizegrip">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="T-Treeview">
        <xs:complexContent>
            <xs:extension base="Widget">
                <xs:attribute name="columns"/>
                <xs:attribute name="displaycolumns"/>
                <xs:attribute name="show"/>
                <xs:attribute name="selectmode"/>
                <xs:attribute name="height"/>
                <xs:attribute name="padding"/>
                <xs:attribute name="xscrollcommand"/>
                <xs:attribute name="yscrollcommand"/>
                <xs:attribute name="takefocus"/>
                <xs:attribute name="cursor"/>
                <xs:attribute name="style"/>
                <xs:attribute name="class"/>
                <xs:attribute name="id"/>
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
